.modal{
    position: fixed;
    z-index: 999;
    background-color: $mainGray;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(.1);
    transition: all .5s ease-in-out;
    border-radius: 100%;
    &--is-visible{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        border-radius:0;
    }
    &__inner{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
     
    }
       &__description{
        text-align: center;
        font-size: .9rem;
        font-weight: 300;
        line-height: 1.65;
        margin-top: 80px;
           
           @mixin atSmall{
                font-size: 1.1rem; 
                 margin-top: 60px;
}           
           @mixin atMedium{
                font-size: 1.4rem; 
                 margin-top: 60px;
}
           & p{
               font-size: .8rem;
               font-weight: 100; 
               @mixin atMedium{
                   font-size: 1rem;
               }
               
           }
           
           & .icon{
                display: block;
                margin:20px auto;
               @mixin atSmall{
                   display: inline-block;
                   vertical-align:middle;
                   margin:20px 5px;;
               }
               @mixin atMedium{
                   margin:20px 20px;
               }
               
               

}
    }
    
    &__close{
        position: absolute;
        top: 25px;
        right: 30px;
        font-size: 1rem;
        transform: scaleX(1.2);
        transform-origin: 100% 0;
        cursor: pointer;
        transition: color .2s ease-out;
        &:hover{
            color: $mainYellow;
        }
    }
}


