.site-slides{
    background:#edeff5;
    height: 600px;
    width: 100%;
    position: relative;
}

.slide{
    color: #000;
    &__title{
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: .25rem;
        font-weight: bold;
    
    }
    
    &__description{
        line-height: 1.5;
        font-weight: 100;
        text-align: justify;
        margin: 10px 0;
        padding: 8px 0;  
}
    
    & dt{
        font-weight: 700;
        padding: 1px 0 10px 0;
    }
    
    & dd{
        line-height: 1.65;
        font-weight: 300;
}
    
    &__subtitle{
     padding-bottom: 16px;
     text-transform: capitalize;
     letter-spacing: 1.5px;
     padding-left: 3px;
     
    }

    & li{ 
        margin: .4rem 0 .4rem 1.5rem;
        list-style: disc;
    }
}

.l-m-margin{
    margin-left: 2.4rem;
}
.l-l-margin{
    margin-left: 4rem;
}


