.social-icons{
    text-align: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #263439;
    margin-top: 1rem;
    display: inline-block;
    margin-right: 12px;;
    position: relative;
    transition: all .3s ease-out;
    &:hover{
        background-color: #1e292d;
        & .icon--facebook{
            background-position:29.41176470588235% 68.75%;
        }
        & .icon--linkedin{
            background-position:88.23529411764706% 100%;
        }
        & .icon--google-plus{
            background-position:29.41176470588235% 100%;
        }
        & .icon--github{
            background-position:88.23529411764706% 68.75%;
        }
        
    }
    
    &__icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
    
}

.icon{
   display: inline-block;
}


/*.social-icon a*/