.social-icons{
    text-align: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #263439;
    margin-top: 1rem;
    display: inline-block;
    margin-right: 12px;;
    position: relative;
    
    &:hover{
        background-color: #1e292d;
    }
    
    &__icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
    
}
